*{
    margin: 0;
    padding: 0;
    
}

#titulo{
    font-family: sans-serif;
    color: #380b61;
    margin: 10px 0;

}

#subtitulo{
    font-family: sans-serif;
    color: #380b61;
    margin: 10px 0;
    display: inline;
}

fieldset{
    border: 0;    
}

body{
    display: inline;
    text-align: center;
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 3px;
}

.campo{
    margin: 30px 0;
}

.campo label{
    color: #59429d;
    display: block;
    margin-top: 10px;
}

.grupo .campo{
    float: left;
    margin-right: 1em;
}



.grupo textarea {
    width: 30%;
    padding: 30px 0;
    margin: 10px;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
}

.campo input[type="text"], .campo input[type="email"], .campo textarea{
    width: 20%;
    padding: 3px 0;
    margin: 5px;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
} 

.campo select {
    width: 10%;
    padding: 3px 0;
    margin: 5px;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #E0E0F8;
}

.botao{
    display: inline;
    text-align: center;
    margin: 40px 0;
    padding: 10px 25px;
    width: 20%;
    
    
    background: #59429d;
    color: ffffff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.botao:houver {
    background: #ccbbff;
    transform: scale(1.2);   
}

#check{
    display: inline-block;
}